@font-face {
  font-family: "museo-sans";
  font-weight: 300;
  src: url("./fonts/museo-sans-300"); }
@font-face {
  font-family: "museo-sans";
  font-weight: 500;
  src: url("./fonts/museo-sans-500"); }
@font-face {
  font-family: "museo-sans";
  font-weight: 700;
  src: url("./fonts/museo-sans-700"); }
html {
  min-width: 314px;
  font-size: 16px; }

body {
  margin: 0;
  overflow-x: hidden; }

body, input, .button {
  font-family: 'museo-sans'; }

h1 {
  color: #060606;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  text-align: left; }

h2 {
  color: #fff;
  font-size: 17px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1px; }

p {
  color: #252c2e;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  line-height: 20.5px;
  max-width: 215px;
  margin: 0;
  margin-bottom: 30px; }

.container {
  max-width: 960px;
  margin: 0 auto; }

header {
  background: url("./imgs/bg.jpg") center/cover no-repeat;
  text-align: center;
  position: relative;
  line-height: 0;
  padding-bottom: 213px;
  box-sizing: border-box;
  max-height: 650px; }
  header img {
    margin-top: 92.5px;
    margin-bottom: 29.5px;
    width: 90px; }
  header h1 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    max-width: 215px;
    margin: 0 auto;
    margin-bottom: 25.5px; }
  header nav {
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0; }
    header nav a {
      box-sizing: border-box;
      color: #fff;
      font-size: 14px;
      text-decoration: none;
      line-height: 62px;
      height: 62px;
      width: 33.33%;
      display: inline-block;
      transition: border 0.2s ease;
      outline: none; }
      header nav a:hover {
        border-bottom: 5px solid #2ebcea; }
      header nav a::-moz-focus-inner {
        border: 0; }

.nav-scroll {
  min-width: 314px;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #232323;
  text-align: center;
  font-size: 0;
  height: 64px; }
  .nav-scroll a {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    width: 83px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    line-height: 64px;
    height: 64px;
    transition: border 0.2s ease;
    outline: none; }
    .nav-scroll a:hover {
      border-bottom: 5px solid #2ebcea; }
    .nav-scroll a::-moz-focus-inner {
      border: 0; }
    .nav-scroll a:nth-child(2) {
      margin: 0 10px; }
  .nav-scroll #scroll-logo {
    margin-right: 15px;
    display: none;
    font-size: 15px;
    vertical-align: middle;
    font-weight: 900;
    border: none; }
    .nav-scroll #scroll-logo img, .nav-scroll #scroll-logo span {
      vertical-align: middle; }
    .nav-scroll #scroll-logo img {
      margin-right: 10px;
      width: 33px;
      height: 35px; }
  .nav-scroll .left, .nav-scroll .right {
    display: inline-block;
    vertical-align: middle; }

form {
  font-size: 0; }
  form input {
    box-sizing: border-box;
    height: 40px;
    border: none;
    box-shadow: none;
    vertical-align: middle;
    border-radius: 4px 0 0 4px;
    padding-left: 11.5px;
    width: 212px;
    color: #414547;
    font-size: 12px; }
    form input:focus {
      color: #414547; }
    form input.invalid:invalid {
      color: #dc0808; }
    form input::-moz-placeholder {
      color: #8e9fa4; }
    form input::-webkit-placeholder {
      color: #8e9fa4; }
    form input::-ms-placeholder {
      color: #8e9fa4; }
    form input:-webkit-input-placeholder {
      color: #8e9fa4; }
    form input:-moz-placeholder {
      color: #8e9fa4; }
    form input:-ms-input-placeholder {
      color: #8e9fa4; }

.button {
  box-sizing: border-box;
  height: 40px;
  border: none;
  box-shadow: none;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 700;
  border-radius: 0 4px 4px 0;
  padding: 0;
  width: 78px;
  background-color: #2ebcea;
  color: #fff;
  outline: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  line-height: 40px;
  text-align: center; }
  .button:hover {
    background-color: #59cdf2; }
  .button:active {
    background-color: #0090be;
    border: none;
    outline: none; }
  .button::-moz-focus-inner {
    border: 0; }

#success .msg {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 20px;
  padding: 0 10px; }
#success .button {
  border-radius: 4px; }
  #success .button.f-share {
    margin-right: 11px;
    background-color: #3563e7; }
    #success .button.f-share:hover {
      background-color: #5F8AFF; }
  #success .button.f-share, #success .button.t-share {
    height: 40px;
    width: 140px; }

section {
  padding: 52.5px 23px;
  text-align: center;
  font-size: 0; }
  section .main-text {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 0; }
  section h1 {
    margin-bottom: 15px; }

#about .container {
  max-width: 1000px; }
#about img {
  width: 268.5px; }
#about p {
  white-space: normal; }
#about .button {
  display: none;
  border-radius: 4px;
  width: 148px;
  height: 46px;
  font-size: 16px; }

#everywhere {
  background-color: #2ebcea; }
  #everywhere h1, #everywhere p {
    color: #fff; }
  #everywhere p.short {
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%; }
  #everywhere #mob {
    width: 97px; }
  #everywhere #desk {
    width: 243px; }
  #everywhere #web {
    width: 166px; }

#task-man {
  background-color: #f6f9fa;
  padding-bottom: 0;
  overflow: hidden;
  height: 530px; }
  #task-man img {
    width: 215px; }

#features {
  padding-bottom: 18.5px; }
  #features .col {
    display: inline-block;
    text-align: left; }
  #features span {
    margin-bottom: 7.5px;
    display: inline-block; }
  #features h1 {
    margin-bottom: 10px; }
  #features p {
    margin-bottom: 32.5px; }
  #features #search {
    background: url("./imgs/search-mobile.png") center/37px 37px no-repeat;
    width: 37px;
    height: 37px; }
  #features #msg {
    background: url("./imgs/msg-mobile.png") center/58.5px 40.5px no-repeat;
    width: 58.5px;
    height: 40.5px; }
  #features #file {
    background: url("./imgs/file-mobile.png") center/28px 34px no-repeat;
    width: 28px;
    height: 34px; }

#signup {
  background-color: #243139;
  padding: 52.5px 0; }
  #signup h1, #signup p {
    color: #fff;
    margin-left: auto;
    margin-right: auto; }
  #signup h1 {
    max-width: 215px; }
  #signup .share {
    margin: 0 auto;
    margin-top: 33px; }
    #signup .share a {
      box-sizing: border-box;
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 50%;
      transition: background 0.2s ease;
      border: 1px solid white;
      text-align: left; }
      #signup .share a.fb {
        margin: 0 12px 0 17.5px; }
        #signup .share a.fb:hover {
          background-color: #fff; }
          #signup .share a.fb:hover span {
            background: url("./imgs/fb-hover.svg") center/8px 17px no-repeat; }
      #signup .share a.twitter:hover {
        background-color: #fff; }
        #signup .share a.twitter:hover span {
          background: url("./imgs/twitter-hover.svg") center/17px 14px no-repeat; }
      #signup .share a span {
        display: inline-block; }
    #signup .share .fb span {
      width: 8px;
      height: 17px;
      margin: 15px 0 0 20px;
      background: url("./imgs/fb.svg") center/8px 17px no-repeat; }
    #signup .share .twitter span {
      width: 17px;
      height: 14px;
      margin: 17px 0 0 16.5px;
      background: url("./imgs/twitter.svg") center/17px 14px no-repeat; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  header {
    background-image: url("./imgs/bg@2x.jpg"); }

  #features #search {
    background-image: url("./imgs/search-mobile@2x.png"); }
  #features #msg {
    background-image: url("./imgs/msg-mobile@2x.png"); }
  #features #file {
    background-image: url("./imgs/file-mobile@2x.png"); } }
@media only screen and (min-width: 480px) {
  section h1 {
    font-size: 32px;
    margin-bottom: 17px; }

  h2 {
    font-size: 20px; }

  p {
    line-height: 31px; }

  form input, form .button {
    height: 48px;
    font-size: 15px; }

  header img {
    width: 124px; }
  header h1 {
    font-size: 28px;
    line-height: 34px;
    max-width: 500px; }
  header input {
    width: 310px;
    padding-left: 19px; }
  header .button {
    width: 116px; }
  header nav a {
    height: 70px;
    line-height: 70px;
    font-size: 15px;
    width: 97px; }
    header nav a:nth-child(2) {
      margin: 0 27px 0 32px; }
  header #success .button.f-share, header #success .button.t-share {
    width: 164px; }

  .nav-scroll #scroll-logo {
    display: inline; }

  #about p {
    font-size: 18px;
    max-width: 450px; }

  #everywhere .main-text h1, #everywhere .main-text p {
    max-width: 670px;
    text-align: center; }
  #everywhere .main-text h1 {
    margin-bottom: 26px; }
  #everywhere .main-text p {
    font-size: 19px;
    margin-bottom: 57px; }
  #everywhere .col p {
    font-size: 18px; }

  #task-man p {
    font-size: 18px;
    max-width: 500px; }

  #features .col {
    padding: 0 50px; }
  #features h1 {
    font-size: 24px; }
  #features p {
    font-size: 16px;
    line-height: 24px;
    max-width: 255px; }

  #signup h1 {
    font-size: 34px;
    max-width: 500px;
    text-align: center; }
  #signup p {
    font-size: 18px;
    max-width: 450px;
    text-align: center; }
  #signup form {
    text-align: center; }
  #signup input {
    width: 329px;
    padding-left: 19px; }
  #signup .button {
    width: 136px; }
  #signup .share {
    font-size: 19px; } }
@media only screen and (min-width: 720px) {
  header img {
    margin: 147px 0 20px 0; }
  header h1 {
    margin-bottom: 20px; }

  .nav-scroll {
    padding: 0 144px 0 160px;
    text-align: left; }
    .nav-scroll .right {
      float: right; }

  #about {
    white-space: nowrap;
    padding: 154px 23px 142px 23px; }
    #about .main-text {
      margin-top: 90px; }
    #about img {
      width: 754px; }
    #about .button {
      display: inline-block;
      line-height: 46px; }

  #task-man {
    height: 581px;
    box-sizing: border-box; }
    #task-man .container {
      max-width: 870px; }
    #task-man .main-text {
      float: right;
      margin-top: 190px; }
    #task-man img {
      width: 381px;
      margin-left: -250px;
      margin-top: -290px; }

  .flex {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline; }

  #everywhere {
    padding: 106px 10px 94px 10px; }
    #everywhere h2 {
      margin-top: 50px; }

  #features {
    padding: 161px 15px 140px 15px; }
    #features .col {
      padding: 0; }
      #features .col:nth-child(2) {
        padding: 0 15px; }
    #features h1 {
      margin-bottom: 21px; }
    #features .col, #features h1, #features p {
      text-align: center; }
    #features p {
      margin-left: auto;
      margin-right: auto; }
    #features span {
      margin-bottom: 59px; }
    #features #search {
      background: url("./imgs/search.png") center/92px 91px no-repeat;
      width: 92px;
      height: 91px; }
    #features #msg {
      background: url("./imgs/msg.png") center/143px 96px no-repeat;
      width: 143px;
      height: 96px; }
    #features #file {
      background: url("./imgs/file.png") center/79px 99px no-repeat;
      width: 79px;
      height: 99px; }

  #signup {
    padding-bottom: 76px;
    padding-top: 0; }
    #signup h1, #signup p {
      text-align: center; }
    #signup h1 {
      margin-bottom: 39px;
      padding-top: 129px; }
    #signup form {
      text-align: center;
      margin-top: -140px; }
    #signup p {
      margin-bottom: -120px;
      margin-top: 120px;
      max-width: 620px; }
    #signup .share {
      margin-top: 150px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 720px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 720px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 720px), only screen and (min-device-pixel-ratio: 2) and (min-width: 720px), only screen and (min-resolution: 192dpi) and (min-width: 720px), only screen and (min-resolution: 2dppx) and (min-width: 720px) {
  #features #search {
    background-image: url("./imgs/search@2x.png"); }
  #features #msg {
    background-image: url("./imgs/msg@2x.png"); }
  #features #file {
    background-image: url("./imgs/file@2x.png"); } }
@media only screen and (min-width: 2560px) {
  header {
    background-image: url("./imgs/bg@2x.jpg");
    padding-bottom: 1291px; }
    header img {
      margin-top: 423px;
      width: 157px; }
    header h1 {
      font-size: 38px;
      max-width: 670px;
      padding: 20px 0; }

  .nav-scroll {
    padding-right: 700px;
    padding-left: 770px; } }

/*# sourceMappingURL=style.css.map */
